header {
  width: 100vw;
  border: 1px solid #f3f3f3;
}
.title {
  display: flex;
  align-items: center;
  margin: 0 auto;

  max-width: 1500px;
  justify-content: space-between;
}
.links {
  display: flex;
}
.careerButton {
  width: fit-content;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 30px;
  color: black;
  font-weight: bold;
}
.downloadButton {
  width: fit-content;
  object-fit: contain;
  padding: 5px;
  border: 1px solid #4287ff;
  background-color: #4287ff;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}
.careerButton:hover {
  cursor: pointer;
}
.downloadButton:hover {
  cursor: pointer;
}

.main {
  background-color: #f3f3f3;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  height: 40vh;
}
.strength {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}
.imageBox {
  border: 1px solid #f3f3f3;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}
.strength > span {
  font-size: 20px;
  font-weight: bold;
}
