header {
  padding-top: 30px;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}
.yeosinci > img {
  width: 100px;
  height: 100px;
}
.qna {
  border: 1px solid grey;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.4);
}
